%hover-color-animation {
  transition-property: color, background-color, border-color;
  transition-duration: .25s, .25s, .25s;
  transition-timing-function: linear;
}

%hover-opacity-animation {
  transition: opacity .25s linear;
}

%hover-transform-animation {
  transition: transform .25s linear;
}
