footer {
  .footer-menu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menu-wrapper {
      h6 {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            @extend %hover-color-animation;
            font-size: 14px;
            line-height: normal;
            color: rgb(169,169,169);
            display: block;
            margin-bottom: 7px;
            margin-top: 7px;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .payment-methods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }

    @media (max-width: 320px) {
      .container>.row>.col {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  .bottom-bar {
    background-color: $footer-claim-bg;

    .container>.row {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: rgb(169, 169, 169);
        font-size: 14px;
        line-height: 26px;
      }

      @media (max-width: 991.98px) {
        order: 2;
      }
    }

    .socialmedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            @extend %hover-color-animation;
            color: rgb(169,169,169);
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      @media (max-width: 991.98px) {
        order: 3;
      }
    }
  }
}
