header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216,216,216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: inline-block;
          text-align: center;
          line-height: 50px;
          font-size: 20px;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          z-index: 2;
          margin-left: -15px;
          padding: 0 10px;
          height: 27px;
          border-radius: 18px;
          background-color: $header-bg;
          display: inline-block;
          line-height: 27px;
          font-size: 14px;
          color: rgb(224,227,237);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1,2,2,0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .menu-btn {
      display: none;
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }

  @media (min-width: 640px) and (max-width: 1199px) {
    .menu-bar {
      .container > .row {
        height: 168px;
        flex-direction: column;
      }

      .menu {
        justify-content: center;
        height: 84px;
        margin-bottom: 20px;
      }

      .search {
        order: 2;
        justify-content: center;
        width: auto;
      }
    }
  }

  @media (max-width: 639px) {
    .menu-bar {
      height: 64px;

      .menu {
        width: 100%;
        position: relative;

        ul {
          position: absolute;
          transform: scaleY(0);
          transform-origin: top;
          flex-direction: column;
          width: 100%;
          left: 0;
          z-index: 500;
          box-shadow: 0 3.464px 6px rgba(1,2,2,0.2);          

          &.transition {
            transition: transform .25s ease-in-out;
          }

          &.show {
            transform: scaleY(1);
          }

          li {
            align-self: stretch;
            border: solid 1px #b6b6b6;
            border-top: 0;

            a {
              width: 100%;
              justify-content: center;
              background-color: #ffffff;
            }
          }
        }
      }

      .menu-btn {
        display: inline-block;
        margin-right: 15px;
        .btn-outline {
          border: 0;
          width: 45px;
          height: 45px;
          line-height: 45px;
          background-color: $primary;
          color: white;
          text-align: center;

          &:hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .menu-bar {
      height: 110px;

      .container > .row {
        height: 130px;
        justify-content: center;
      }

      .search-form {
        height: 90px;
        flex-direction: column;

        .category, .search-field {
          height: 45px;
          border: 0;
        }

        .category {
          border-bottom: 1px solid $form-border-color;
        }
      }
    }
  }
}
