.post-box {
  margin-bottom: 2rem;

  .cover-link {
    text-decoration: none;

    &:hover .post-info h5 {
      color: $primary;
    }

    &:hover .post-info .more .btn-main {
      background-color: $primary;
    }

    .cover {
      padding: 70% 25px 0 25px;
      background: {
        color: #f4f5f7;
        size: cover;
        position: center;
      }

      .details {
        padding: 15px 20px;
        display: flex;
        background-color: #ffffff;
        font-size: 14px;
        color: $text-color;

        & > * {
          flex: 1 1 auto;
        }

        .date {
          text-align: left;
        }

        .comments {
          text-align: right;
        }
      }
    }

    .post-info {
      padding: 25px;

      h5 {
        color: $text-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        transition: color .3s;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        color: rgb(103,103,103);
        text-align: left;
      }

      .more {
        text-align: center;
        padding-top: 30px;

        .btn-main {
          transition: background-color .3s;
        }
      }
    }    
  }
}
