.product-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;

    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      @extend %hover-opacity-animation;
      display: flex;
      justify-content: space-between;
      opacity: 0;
    }
  }

  &:hover .buttons {
    opacity: 1;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;

        &.full {
          @extend .fas;
        }
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a[active] {
      background-color: $primary;
      border-color: $primary;

      i {
        color: #ffffff;
      }
    }

    .price {
      display: flex;
      justify-content: flex-end;

      .old-price {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        color: #a5a5a5;
        font-weight: 300;
        text-align: center;
        line-height: 24px;
        padding: 5px 10px;
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          width: 39px;
          height: 1px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background-color: #292929;
        }
      }
    }
  }

  .price .btn-main-small {
    transition: background-color .3s;
  }

  &:hover .price .btn-main-small {
    color: #ffffff;
    background-color: $primary;
  }
}
