.tabs {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  .tab {
    flex: 0 1 25%;
    position: relative;
    display: inline-block;
    border: 1px solid #e2e2e2;
    border-right: 0;
    padding: .65rem;
    font-weight: 600;
    cursor: pointer;

    &.border-right {
      border-right: 1px solid #e2e2e2;

      &.active,
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    a {
      color: rgb(42,42,42);
      position: relative;
      font-size: 18px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
    }

    &.active,
    &:hover {
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: calc(100% + 1px);
        border-top: 4px solid $primary;
      }
    }

    &.active {
      background-color: #f4f5f7;
      border-bottom: #f4f5f7;

      a {
        color: $primary;
      }
    }
  }
}

.tabs-content {
  background-color: #f4f5f7;
  border: 1px solid #e2e2e2;
  border-top: 0;

  &>.content {
    display: none;

    &.active {
      display: block;
    }
  }
}
